# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Last Pencil (Java)/*
!/Last Pencil (Java)/task/
/Last Pencil (Java)/task/*
!/Last Pencil (Java)/task/src

# Project exclude paths
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Iterating over arrays/The sum of array elements/out/
/Topics/Iterating over arrays/The sum of array elements/out/production/classes/
/Topics/Processing strings/The longest word/out/
/Topics/Processing strings/The longest word/out/production/classes/
/Topics/Random/Find the seed/out/
/Topics/Random/Find the seed/out/production/classes/
/Topics/The for-loop/The count of numbers divisible by N/out/
/Topics/The for-loop/The count of numbers divisible by N/out/production/classes/